.grid{
    display: grid;
    grid-template-columns: 5% 47% 47%;
    border: none;
    height: 740px;
}
.grid>div{
    margin: 3px;
    background-color: aquamarine;
    border-color: black;
    border-style: solid;
}
.d1{
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    font-size: 60px;
}
.d2 {
    text-align: center;
    font-size: 45px;
}
.d3 {
    text-align: center;
    font-size: 28px;
}