body {
    display: grid;
    background: none;
    border: none;
    height: 680px;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: 10% 80% 15%;
    grid-template-areas:
      "header header header"
      "nav article aside"
      "footer footer footer";
      grid-gap: 5px;
}
nav {
    grid-area: nav;
}
header {
   grid-area: header;
}
article {
   grid-area: article;
}
aside {
   grid-area: aside;
}
footer {
   grid-area: footer;
}
nav>a{
      font-size: 30px;
      text-align: center;
      display: block;
}
header{
      text-align: center;
      padding: 4px;
      font-size: 30px;
}
article{
      font-size: 25px;
}
aside{
      font-size: 30px;
}
footer{
      font-size: 20px;
}  