body{
    font-family: 'Roboto', sans-serif;
}
.gallery{
    display: flex;
}
figure{
    margin-left: 5%;
    display: inline-block;
    width: 250px;
    height: 500px;
}
p{
    display: inline-block;
}
figcaption{
    text-align: center;
}
img{
    width: 250px;
    height: 250px;
}
h2{
    text-align: center;
}
#img2{
    border: none;
}
form{
    width: 500px;
    height: 150px;
}
label{
    display: inline-block;
    text-align: left;
    width: 200px;
    margin-left: 5px;
}
input[type="submit"]{
    display: block;
    position: relative;
    left: 45%;
}
input{
    margin-top: 20px;
}
footer{
    position: relative;
    top: 150px;
    width: 100%;
    
}
p{
    display: inline;
    width: 100%;
    margin-right: 20px;
}