/* h3{
    color: red;
    animation-name: h3;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes h3 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.8;
    }
} */
h3{
    color: red;
}